/* SVG Fonts */
* {  box-sizing: border-box; }

/* CSS */

html, body {
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  background: #c86bd4;
  background: -webkit-linear-gradient(235deg, #03b5ff, #c86bd4);
  background: -moz-linear-gradient(235deg, #03b5ff, #c86bd4);
  background: linear-gradient(235deg, #03b5ff, #c86bd4);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#menu {
	height:100%;
	position:fixed;
	background:#fff;
	top:0;
	bottom:0;
	height:100%;
	width:240px;
	left:-240px;
	z-index:9999;
}

#menu ul {
	padding:0;
	margin:0;
	list-style:none;
	color:#4b96f1;
}

#menu ul li {
	height:55px;
	padding-left:30px;
	line-height:55px;
}

#menu ul li.active {
	background:#4b96f1;
}

#menu ul li:hover {
	background:#cadef7;
}

#menu ul li.active a {
	color: #fff;
}

#menu ul li a, #menu ul li:hover a {
	color: #4b96f1;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	display:block;
}

.close {
	display:block;
	background:#fff;
	height:55px;
	width:55px;
	position:absolute;
	top:0;
	right:-55px;
  padding: 3px;
}

.close i {
  color: #4b96f1;
  font-size: 3rem;
}

#help {
	height:100%;
	position:fixed;
	background:#fff;
	top:0;
	bottom:0;
	height:100%;
	width:240px;
	right:-240px;
	z-index:9999;
}

#help > div {
  color: #f336a3;
  font-family: 'Open Sans', sans-serif;
  padding:20px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.close-help {
	display:block;
	background:#fff;
	height:55px;
	width:55px;
	position:absolute;
	top:0;
	left:-55px;
  padding: 3px;
}

.close-help i {
  color: #f336a3;
  font-size: 3rem;
}


a, a:hover, a:active, a:focus {
  text-decoration: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header, main, footer {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

header a, header a:hover, header a:focus, header a:visited{
  text-decoration: none;
}

header .logo, header .menu, header .help {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .menu i, header .help i {
  color: #fff;
  font-size: 2rem;
}

header .logo h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.9rem;
}

header .logo i {
  color: #fff;
  font-size: 2.5rem;
}

.compare {
  border-radius: 2px;
  background: #0d0e14;
  background: radial-gradient(circle at 50% 50%, #233050, #0d0e14);

  flex-grow: 1;
  margin-bottom: 25px;
  min-height: 100%;
  position: relative;

  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
}

.admin {
  width:280px;
  position:absolute;
  right:0;
  background: #fff;
  background: radial-gradient(circle at 50% 50%, #cff0ff, #fff);
  padding: 20px;
  height:100%;
  display: flex;
  flex-direction: column;
}

.admin h4 {
  text-transform: uppercase;
  color: #4b96f1;
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 5px;
}
.admin p {
  font-size: 0.8rem;
  font-weight: normal;
}

.admin .recherche input[type=text] {
  width:100%;
  border:0;
  border-bottom: 2px solid #4b96f1;
  background: none;
  padding:15px;
  color: #4b96f1;
}

.persos {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  padding-bottom: 70px;
}
.p {
  width: 25%;
  bottom: 70px;
  display: block;
  text-align: center;
}
.p:first-child {
  background : url("../svg/man-pink.svg") no-repeat bottom center ;
  background-size: contain;
  height: 90%;
  margin-left: 80px;
}
.p:nth-child(2) {
  background : url("../svg/man-green.svg") no-repeat bottom center ;
  background-size: contain;
  height: 75%;
  margin-left: 25px;
}

.p > img.head {
  width: 35%;
  margin-top: -10px;
}
.p > img.small-head {
  width: 25%;
  margin-top: -25px;
}

nav {
  position: absolute;
  display: flex;
  bottom: -20px;
  width: 100%;
}

nav div {
  display: flex;
  margin-left: 25px;
  padding: 12px 20px;
  width: 25%;
  color: #fff;
  -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

nav > div:first-child {
  margin-left: 80px;
  background: #f03da2;
}
nav > div:nth-child(2) {
  background: #86ce34;
}
nav > div:nth-child(3) {
  background: #fa6b42;
}


nav > div p {
  flex-grow: 1;
  font-weight: 300;
  font-size: 1rem;
  vertical-align: top;
  margin: 2px 0 0 10px;
}

nav > div a {
  color: rgba(255, 255, 255, 0.5);
}
nav > div a:hover, nav > div a:active, nav > div a:focus {
  color: #fff;
}

nav div i {
  font-size: 1.8rem;
  vertical-align: top;
}

.lines {
  padding: 30px;
  height: 500px;
}

.lines ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lines ul li {
  border-bottom: solid 1px #535454;
  color: #c1c1c1;
  font-size: 1rem;
  display: block;
  margin-top: auto;
  height: 50px;
}


footer p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin: 20px 0;
}
