<main ng-controller="aboutCtrl">
  <div class="about">
    <div class="content-about">
      <h3>Ruler</h3>
      <p>
        Ruler est une création de <span>Nikolas Ethoré</span>.
      </p>
      <p>
        L'application a été codé en <span>HTML5</span>, <span>CSS3</span>, <span>AngularJS</span>, <span>Laravel</span> et <span>MySQL</span>.
      </p>
      <p>
        Mes remerciements vont tout d'abord à <span>Julien</span> et <span>Vanessa</span>, nos professeurs à la <span>3W Acadamy</span> pour laquelle ce projet a été réalisé, ainsi qu'a tout mes camarades de la promotion L11 et  plus particulièrement <span>Thibaut</span>, <span>Florent</span> et <span>Amand</span> pour leurs precieux conseils et remarques.
      </p>
      <p>
        Pour toutes remarques et suggestions, vous pouvez me contacter à l'adresse <a href="mailto:info@ruler.fr">info@ruler.fr</a>.
      </p>
    </div>
  </div>
</main>
